<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.karayek">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.sell_kargozari.Sell_kargozari_activity"></activity>
        <activity android:name=".ui.sell_khobre_webView.Sell_whith_Khobre" />
        <activity android:name=".ui.questactivity.QuestionActivity" />
        <activity android:name=".ui.inquirySahamActivity.InquirySahamActvity" />
        <activity android:name=".ui.ejectSaham.EjectSahamActivity" />
        <activity android:name=".ui.change_shaba_number.Change_shaba_number" />
        <activity android:name=".ui.moblieNumber.MobileNumberActivity" />
        <activity android:name=".ui.sell_activity.SellActivity" />
        <activity android:name=".ui.splashScreen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.sahmList.SahamListActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>